<style>
.container{width:100%;margin:auto}
@media (min-width:600px) {.container{width: 80%;}}
@media (min-width:768px) {.container{width: 60%;}}
@media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>Hi, {{r}}. There are some choices for you</h1>
<form action="/recommended_travel_routes" method="post">
<input type = "submit" value="Recomended travel routes" style="width:200px;height:50px;">
</form>
<form action="/ntu_map" method="post">
<input type = "submit" value="NTU MAP" style="width:200px;height:50px;">
</form>
<form action="/introduction" method="post">
<input type = "submit" value="Introduction" style="width:200px;height:50px;">
</form>
</div>
