<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>Yunnan Garden->Chinese Heritage Centre->The Hive NTU->Lee Wee Nam Library->School Of Art, Design and Media</h1>
<p>No.1 Yunnan Garden</p>
<p><img src="https://lh5.googleusercontent.com/p/AF1QipMX8LAOnM0Q4zbfaStN45bkhxPNK0BTm2EFWTGJ=w408-h306-k-no"
    width="300" height="200"></p>
    <p>Location:12 Nanyang Dr, Singapore 637721</p>
<p>No.2 Chinese Heritage Centre</p>
<p><img src="https://img1.baidu.com/it/u=1895446671,1520775578&fm=253&fmt=auto&app=138&f=JPEG?w=741&h=500"
    width="300" height="200"></p>
    <p>Location:46 Nanyang Ave, Singapore 639817</p>
<p>No.3 The Hive NTU</p>
<p><img src="https://lh5.googleusercontent.com/p/AF1QipNIgegvn5tC4IIlSt1rmAAjJ7EHffCtUObTSJRN=w408-h306-k-no"
    width="300" height="200"></p>
    <h7>Location:52 Nanyang Ave, Singapore 639816</h7>
<p>No.4 Lee Wee Nam Library</p>
<p><img src="https://lh5.googleusercontent.com/p/AF1QipOZHSMHRtmM77vDb_4gJDEQ8uSTL4mS7vbMle0a=w408-h306-k-no#"
    width="300" height="200"></p>
    <p>Location:50 Nanyang Avenue, Blk NS3-03-01, 639798</p>
<p>No.5 School Of Art, Design and Media</p>
<p><img src="https://lh5.googleusercontent.com/p/AF1QipNxL3U65VGb3jbXsJr0xZvnSlGEyr_Vo-a6_AHZ=w408-h272-k-no"
    width="300" height="200"></p>
    <p>Location:81 Nanyang Dr, Singapore 637458</p>
<form action="/ntu" method="post">
        <input type = "submit" value="Back" style="width:200px;height:50px;">
    </form>
</div>
